/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weihgt: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weihgt: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark:#444444;
  --basic-light-dark: #666666;
  --basic-neutral-dark:#888888;
  --basic-midnight-grey:#888888;
  --basic-grey:#A6A6A6;
  --basic-neutral-light: #EEEEEE;
  --basic-light: #E1E1E1;
  --basic-white: #FFFFFF;

   --spesial-1: #EFC849;
   --spesial-1h:#EAB534;
   --spesial-1f:#E5A722;
   --spesial-2: #00CA74;
   --spesial-2h:#00BC6C;
   --spesial-2f:#00AA62;
   --spesial-3: #FB565A;
   --spesial-3h:#E74246;
   --special-3f:#D7373B;
   --special-4: #DFDFDF;
   --special-5: #DBDBDB;
   --special-6: #D5D5D5;
}

/*Global*/

.page-body  {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*main-navigation*/

  .main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    background-color: var(--basic-neutral-light); /*цвет фона*/
  }

  .site-navigation,
  .box-navigation {
    list-style: none;
  }

  /* User navigation */

  .site-navigation a,
  .box-navigation a {
    color: var(--basic-black);
  }

  .site-navigation a:hover, /*наведение*/
  .box-navigation a:hover {
    color: var(--spesial-3);
  }
  .site-navigation a:focus, /*нажатие черный цвет 30% прозрачности*/
  .box-navigation a:focus {
    opacity: 0.3;
    color: var(--spesial-3);
  }

  /*presentation*/

  .pass-55 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: uppercase;
  }
  /*work*/

  .work-list {
    list-style: none;
 }

  .work-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .pass-45 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: uppercase;
  }



/*catalog*/

.page-catalog {
  color: var(--basic-black);
  width: 16px;
  height: 18px;
  font-weight: 400;
}

.page-catalog h1 {
  color: var(--basic-extra-dark);
  width: 55px;
  height: 55px;
  font-weight: 500;
}

 /*filters*/

.filter-cost { /*бегунок стоимости*/
  height: 19px;
  text-transform: uppercase;
  list-style: none;
}

.filter-list { /*сетка и особенности*/
  height: 19px;
  list-style: none;
}


.filter-sort {  /*сортировать кнопки*/
  color: var(--basic-black); /*покой*/
  width: 14px;
  height: 18px;
  font-weight: 400;
  opacity: 30%;
  list-style: none;
}

.filter-sort a:hover{ /*наведение*/
    opacity: 60%;
  }

.filter-sort a:focus {/*нажатие черный цвет 30% прозрачности*/
    color: var(--basic-black);
  }

  /*products*/

  .catalog-products {
    list-style: none;
  }

  /*pagination*/

  .pagination-list {
    list-style: none;
  }

  .pagination-item a {
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-neutral-light);
  }

  .pagination-item a:hover {
    background-color: var(--special-4);
  }
  .pagination-item a:focus {
    opacity: 30%;
    background-color: var(--special-6);
  }
  .pagination-item a:active {
    background-color: var(--special-5);
  }

  /*Buttons*/

  .button  {

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--spesial-3);
    border: none;
    }

  .button a:hover {
    background-color: var(--special-3h);
  }

  .button a:focus {
    opacity: 30%;
    background-color: var(--special-3f);
  }

  .btn-app {
    background-color: var(--spesial-2);
  }

  .btn-app :hover {
    background-color: var(--special-2h);
  }
  .button a:focus {
    opacity: 30%;
    background-color: var(--special-2f);
  }

  .btn-prsnt {
      background-color: var(--spesial-1);
  }

  .btn-prsnt :hover {
    background-color: var(--special-1h);
  }
  .btn-prsnt a:focus {
    opacity: 30%;
    background-color: var(--special-1f);
  }
    /* Contacts */

.contacts-phone {
  color: inherit;
}


/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
}


/* Contacts */
.footer-contacts {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-light-dark);
}

.footer-contacts h2 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.pass-36 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
  /* Social button */

.social-list {
  list-style: none;
  }

.social-button {
  color: var(--basic-white);
  width: 81px;
  height: 81px;
  background-color: var(--basic-light);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--spesial-4);
}

.modal {
  color: var(--basic-black);
  width: 16px;
  height: 18px;
  font-weight: 700;
}

.modal h2 {
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
}

