/*Fonts*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weihgt: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weihgt: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark:#444444;
  --basic-light-dark: #666666;
  --basic-neutral-dark:#888888;
  --basic-midnight-grey:#888888;
  --basic-grey:#A6A6A6;
  --basic-neutral-light: #EEEEEE;
  --basic-light: #E1E1E1;
  --basic-white: #FFFFFF;

   --special-1: #EFC849;
   --special-1h:#EAB534;
   --special-1f:#E5A722;
   --special-2: #00CA74;
   --special-2h:#00BC6C;
   --special-2f:#00AA62;
   --special-3: #FB565A;
   --special-3h:#E74246;
   --special-3f:#D7373B;
   --special-4: #DFDFDF;
   --special-5: #DBDBDB;
   --special-6: #D5D5D5;
}

/*Global*/

.page-body  {
  width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

     /* Grid */

.page {
   height: 100%;
}


/* Main header */

.main-header {
  margin-bottom: 0;
  margin: 0;
  padding: 0 10px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}
  /*main-navigation*/

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  background-color: var(--basic-neutral-light); /*цвет фона*/
}

.main-navigation{
  display: grid;
  grid-template-columns: auto 1fr 240px;
  width: 100%;
  height: 153px;
  margin: 0;
  padding: 0 ;
  outline: 5px solid rgba(0, 26, 255, 0.3);
  outline-offset: -5px;
}

/* Logo */

.main-header-logo {
  margin-left: 140px;
  margin-top: 49px;
  width: 159px;
  height: 65px;
}

  /* User navigation */

.site-navigation,
.box-navigation {
  color: var(--basic-black);
  list-style: none;
}

.site-navigation a,
.box-navigation a {
  display: block;
  padding: 48px 20px;
}

.site-navigation a:hover, /*наведение*/
.box-navigation a:hover {
  color: var(--special-3);
}
.site-navigation a:focus, /*нажатие черный цвет 30% прозрачности*/
.box-navigation a:focus {
  opacity: 0.3;
  color: var(--special-3);
}

.site-navigation {
  display: flex;
  margin-left: 202px;
  padding: 0;
  width: 437px;
  list-style: none;
  min-height: 40px;
  outline: 5px solid #ff0000;
}
.box-navigation {
  display: flex;
  padding: 0;
  list-style: none;
  min-height: 40px;
  outline: 5px solid #ff0000;
}


/*Index page*/

.index-page {
  margin-left: 140px;
  margin-right: 140px;
}

 /*presentation  index page*/

.presentation {
  height: 430px;
  padding-bottom: 80px;
}

.presentation-list {
  height: 100%;
  background-color: var(--basic-neutral-light);
  list-style: none;
}

.presentation-list {
  display: grid;
  grid-template-columns: 1fr 900px;
  margin: 0;
  padding: 0;
 }

.text-presentation-item {
  text-align: start;
  outline: 5px solid rgba(4, 0, 255, 0.3);
  outline-offset: -5px;
}

.text-presentation-item {
  padding-left: 140px;
}
.foto-presentation-item {
  padding-right: 140px;
  outline: 5px solid rgba(4, 0, 255, 0.3);
  outline-offset: -5px;
}

.title-55 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

   /*work   index page*/

.work {
  margin-bottom: 150px;
 }

.work-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  }

.work-item {
  width: 300px;
  outline: 5px solid rgba(5, 61, 61, 0.637);
  outline-offset: -5px;
}


.work-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
 }


/*feature  index page*/

.feature {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 140px;
  margin: 0;
  margin-bottom: 138px;
  padding: 0;
 }

 .feature h3 {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 35px;
}

.item-right-th {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.item-right-td {
  line-height: 18px;
  text-align: start;
  padding: 10px;
}


.feature-item-left{
  width: 651px;
  text-align: left;
}

.title-45 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feature-item-right{
  width: 360px;
  text-align: center;
}

.feature ul {
  list-style: none;
}


/*logo-list*/
.logo-list {
  display: flex;
  justify-content: space-between;
   outline: 5px solid rgba(255, 0, 179, 0.3);
}



/*Catalog page*/

.page-catalog {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

}
.page-title {
  grid-column: 1 / -1;
  margin: 0;
  align-content: center;
  outline: 5px solid rgba(60, 255, 0, 0.808);
  outline-offset: -5px;
}

.page-catalog {
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
  grid-template-columns: 400px 1fr;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}


 /*filters page-catalog*/

 .page-title {
  color: var(--basic-extra-dark);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  height: 202px;
  background-color: var(--basic-neutral-light);
 }

 .page-title {
   display: flex;
   align-items: center;
   justify-content: center;
 }

.filter-cost { /*блок фильтров слева*/
  margin-top: 50px ;
  margin-left: 140px;
  padding: 0;
  border: none;
  outline: 5px solid rgba(15, 102, 69, 0.829);
  outline-offset: -5px;
}

 .filter-item { /*бегунок стоимости*/
  height: 202px;
  margin-bottom: 62px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.range-filter { /*блок бегунка после слова стоимость*/
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  line-height: 22px;
  text-transform: uppercase;
}
.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 33px;
  padding-left: 22px;
  background-color: var(--basic-neutral-light);
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background:var(--special-6);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--special-2);
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-neutral-dark);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 180px;
}

.range-controls .toggle-max {
  left: 320px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  line-height: 18px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/*filter radio-btn checkbox-btn  catalog */


 .filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  outline: 5px solid rgba(190, 84, 190, 0.7);
  outline-offset: -5px;
}
.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 38px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox:hover + label,
.filter-checkbox:focus + label {
  color: var(--basic-extra-dark);
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  border: 4px solid #4d4d4d;
  opacity: 0.4;
}

.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  width: 20px;
  height: 20px;
  background-image: url("img/icon/shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-radio + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -7px;
  width: 16px;
  height: 16px;
  border: 5px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
}

.filter-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -32px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
}
/*filter size, price,name  catalog */

.filter-sort {  /*справа сортировать + кнопки*/
  color: var(--basic-black); /*покой*/
  line-height: 14px;
  text-transform: uppercase;
}

.filter-sort h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter-sort ul {
  list-style: none;
}


.filter-sort { /*передвинуть кнопки цена по типу левее*/
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
  outline: 5px solid rgba(0, 255, 0, 0.822);
  outline-offset: -5px;
}


.btn-sort {
  font-size: 14px;
  text-transform: uppercase;
  background-color:var(--basic-white);
  border: none;
}

.btn-sort a:hover{ /*наведение*/
  opacity: 60%;
}

.btn-sort a:focus {/*нажатие черный цвет 30% прозрачности*/
  color: var(--basic-black);
}


  /*products page-catalog*/


.catalog-products {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  justify-items: center;
  width: 760px;
  margin-left: 140px;
  margin-right: 141px;
  margin-bottom: 72px;
  padding: 0;
  outline: 5px solid rgba(37, 2, 65, 0.829);
  outline-offset: -5px;
 }

.catalog-item {
  min-height: 360px;
  margin-bottom: 73px;
  list-style: none;
 }

  /*pagination*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 140px;
  list-style: none;
  outline: 5px solid rgba(0, 255, 0, 0.822);
  outline-offset: -5px;
}

.pagination-item,
.pagination-item-next {
  width: 50px;
  height: 50px;
  border: none;
  margin-right: 11px;
  background-color: var(--basic-neutral-light);
}

.pagination-item-next {
  width: 260px;
  height: 50px;
  border: none;

}

.pagination-item a,
.pagination-item-next a  {
  display: block;
  padding: 15px 20px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination-item-next a  {
  padding: 15px 80px;
}

.pagination-item a:hover {
  background-color: var(--special-4);
}
.pagination-item a:focus {
  opacity: 30%;
  background-color: var(--special-6);
}
.pagination-item a:active {
  background-color: var(--special-5);
}


  /*Buttons*/

  .button,
  .btn-app, .btn-prsnt {
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--special-3);
    border: none;
    }

  .catalog-btn-filter {
    width: 260px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-neutral-light);
    border: none;
  }

  .footer-button-contact {
    width: 219px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--special-3);
    border: none;
  }

  .button a:hover {
    background-color: var(--special-3h);
  }

  .button a:focus {
    opacity: 30%;
    background-color: var(--special-3f);
  }

  .btn-app {
    background-color: var(--special-2);
  }

  .btn-app :hover {
    background-color: var(--special-2h);
  }
  .button a:focus {
    opacity: 30%;
    background-color: var(--special-2f);
  }

  .btn-prsnt {
      background-color: var(--special-1);
  }

  .btn-prsnt :hover {
    background-color: var(--special-1h);
  }
  .btn-prsnt a:focus {
    opacity: 30%;
    background-color: var(--special-1f);
  }

  .button,
  .btn-prsnt,
  .btn-app,
  .btn-filter
  .footer-button-contact
  .catalog-button-product{
  display: block;
  }

.catalog-button-product {
  margin-left: 80px;
}



/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Catalog */

.catalog {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.catalog-products {
  list-style: none;
}


/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  }


/* Contacts */

.footer-contacts {
  width: 319px;
  height: 308px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 140px;
  color: var(--basic-light-dark);
  outline: 5px solid rgba(0, 255, 42, 0.7);
  outline-offset: -5px;
}

.footer-contact p {
  padding-top: 23px;
}

.footer-contacts h2 {
  line-height: 36px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding-top: 50px;
 }

.footer-contacts a {
  color: var(--basic-light-dark);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

  /* Footer Social button vk fb*/

.footer-box {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 225px;
  }

.footer-social{
  margin-left: 140px;
  outline: 5px solid rgba(0, 47, 255, 0.7);
  outline-offset: -5px;
}

.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 68px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-light);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-4);
}


.footer-line {
  text-align: start;
  outline: 5px solid rgba(255, 0, 76, 0.7);
  outline-offset: -5px;

}
.title-36 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

/* Modal map */

.modal-map {
  display: none;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: start;
  color: var(--basic-black);
  /*box-shadow: 0 10px rgba(0, 0, 0, 0.7);*/
  width: 16px;
  height: 18px;
  font-weight: 700;
  outline: 5px solid rgba(255, 0, 76, 0.7);
  outline-offset: -5px;
}



/* Modal user */

.modal-user {
  top: 650px;
  bottom: auto;
  width: 960px;
  padding: 63px 100px;
}

.modal h2 {
  margin: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
}

.appointment-form {
  display: flex;
  flex-direction: column;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 80px;
  width: 22px;
  height: 22px;
  background-color: red;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 2px;
  width: 21px;
  height: 3px;
  background-color: var(--special-3);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
